
@font-face{
    font-family: 'Aishafah5';
    src: url('fonts/Aishafah.ttf');
}

.root{
    -fx-background-color: antiquewhite;
}

.label{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-text-fill: saddlebrown;

}

.text-field{

    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: floralwhite;
    -fx-text-fill: saddlebrown;
    -fx-prompt-text-fill: peru;
    -fx-background-radius: 15;
    -fx-highlight-fill: rosybrown;
}

.button{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: floralwhite;
    -fx-text-fill: peru;
    -fx-background-radius: 30;



}

.button:hover{
    -fx-background-color: beige;
}

#alert-label{

    -fx-text-fill: red;

}

#register-button{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: peru;
    -fx-text-fill: floralwhite;
    -fx-background-radius: 30;
    -fx-selection-bar: beige;
}

#register-button:hover{
    -fx-background-color: saddlebrown;
}