@font-face {
    font-family: 'Aishafah5';
    src: url('fonts/Aishafah.ttf');
}

.root{
    -fx-background-color: antiquewhite;

}

.label{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-text-fill: saddlebrown;

}


#alert-label{
    -fx-font-size: 25;
    -fx-text-fill: red;

}

.text{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-text-fill: saddlebrown;
}

.text-field{

    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: floralwhite;
    -fx-text-fill: saddlebrown;
    -fx-prompt-text-fill: peru;
    -fx-background-radius: 15;
    -fx-highlight-fill: rosybrown;
}

.button{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: floralwhite;
    -fx-text-fill: peru;
    -fx-background-radius: 30;
    -fx-selection-bar: beige;
}

.button:hover{

    -fx-background-color: beige;
}

#register-button{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-background-color: peru;
    -fx-text-fill: floralwhite;
    -fx-background-radius: 30;
    -fx-selection-bar: beige;
}

#circle{
    -fx-fill: rosybrown;

}

#circle-label{
    -fx-text-fill: floralwhite;
}

#register-button:hover{
    -fx-background-color: saddlebrown;
}

.list-view .list-cell:even{
    -fx-background-color: floralwhite;
    -fx-text-fill: peru;

}
.list-view .list-cell:odd{
    -fx-background-color: floralwhite;
    -fx-text-fill: peru;

}


.list-view{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-border-color: beige;
    -fx-background-color: floralwhite;
    -fx-selection-bar: beige;

}

.list-view:focused{
    -fx-background-color: floralwhite;
}

.list-view .list-cell:focused{
    -fx-background-color: beige;
}

.list-view .scroll-bar:vertical{
    -fx-background-color: floralwhite;

}
.list-view .scroll-bar:vertical .thumb{
    -fx-background-color: peru;
    -fx-background-radius: 30;

}


.table-view{
    -fx-background-color: transparent;

}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: antiquewhite;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: floralwhite;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: peru;
    -fx-text-background-color: floralwhite;
    -fx-background-radius: 15px;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-background-color: saddlebrown;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: floralwhite;
}


.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: peru;
    -fx-background-radius: 30;

}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: peru;
    -fx-background-radius: 30;

}

.table-row-cell: highlighted {

    -fx-background-radius: 15px;
    -fx-text-background-color: floralwhite;
    -fx-background-color: rosybrown;
}

.context-menu{
    -fx-background-color: floralwhite;

    -fx-highlight-fill: beige;
}

.menu-item{
    -fx-highlight-fill: beige;
}

.menu-item:hover{
    -fx-background-color: beige;
    -fx-highlight-fill: beige;
}

.date-picker{
    -fx-background-color: floralwhite;
    -fx-background-radius: 15;

}

.date-picker >.arrow-button{
    -fx-background-color: transparent;

}
.date-picker > .arrow-button > .arrow {
    -fx-background-color: saddlebrown;
}

.date-picker-popup {
    -fx-background-color: beige;

}


.date-picker-popup > .calendar-grid {
    -fx-background-color: floralwhite;

}

.date-picker-popup > * > .date-cell {
    -fx-background-color: beige;

}

.date-picker-popup > * > .day-cell:hover{
    -fx-background-color: saddlebrown;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: beige;
}






.combo-box{
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-text-fill: saddlebrown;
    -fx-highlight-fill: rosybrown;
    -fx-background-color: floralwhite;
    -fx-background-radius: 15;
}

.combo-box > .list-cell {
    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-text-fill: saddlebrown;
    -fx-highlight-fill: rosybrown;
    -fx-background-color: floralwhite;
    -fx-background-radius: 15;
}

.combo-box> .list-cell:hover{
    -fx-background-color: beige;
}

.combo-box:hover{
    -fx-background-color: beige;
}
.combo-box> .text-area:hover{
    -fx-background-color: beige;
}

.text-area{

    -fx-font-family: 'Aishafah5';
    -fx-font-size: 20;
    -fx-display-caret: false;
    -fx-text-fill: saddlebrown;
    -fx-prompt-text-fill: peru;
    -fx-highlight-fill: rosybrown;


}

.text-area:focused{
    -fx-background-color: floralwhite;
}

.text-area .scroll-bar:vertical{
    -fx-background-color: floralwhite;

}
.text-area .scroll-bar:vertical .thumb{
    -fx-background-color: peru;
    -fx-background-radius: 30;

}

.text-area .scroll-bar:horizontal{
    -fx-background-color: floralwhite;

}
.text-area .scroll-bar:horizontal .thumb{
    -fx-background-color: peru;
    -fx-background-radius: 30;

}

.text-area .content{
    -fx-background-color: floralwhite;
    -fx-border-color: transparent;
}

.popup .content{
    -fx-background-color: floralwhite;
}